<%= render "home/navbar" %>
<div class="container mt-4">
  <h2 class="mb-4">Cadastro</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email, "E-mail" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :name, "Nome Completo" %>
      <%= f.text_field :name, autocomplete: "name", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :cpf, "CPF" %>
      <%= f.text_field :cpf, autocomplete: "off", class: "form-control cpf-mask", placeholder: "000.000.000-00" %>
    </div>

    <div class="form-group">
      <%= f.label :address, "Endereço" %>
      <%= f.text_field :address, autocomplete: "address", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :balance, "Saldo Inicial" %>
      <%= f.number_field :balance, step: 0.01, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password, "Senha" %>
      <% if @minimum_password_length %>
        <small>(mínimo de <%= @minimum_password_length %> caracteres)</small>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Confirme sua senha" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "Cadastrar", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="mt-4">
    <%= render "devise/shared/links" %>
  </div>
</div>
